<% provide(:title, "Home") %>
<!DOCTYPE html>
    
<html>
  <head>
    <title> <%= yield(:title) %> | Simple_todo_list</title>
  </head>
  <body>
    <% if logged_in? %>
      <h2 class="current-date"><%= @date%></h2>
      <h2 class="last-task"><%= @tasklast+Task.last.position%></h2>
      <p>  <%= render 'shared/user_info' %>  </p>
      <p>  <%= link_to "Log out", logout_path, method: "delete", class: "btn btn-primary" %>  </p>
      <h1> Simple todo list </h1>
      <p> From ruby garage </p>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <div class="projectsN">
        <%= render 'shared/feedprojects' %>
      </div>
      <button class="btn btn-primary" type="button" id="formButton">+ add_TODO_List</button>
        <%= render 'shared/project_form' %>
      <% else %>
      <ul class="nav">
        <li><p> Simple todo list </p></li>
        <li><%= link_to "Log in", login_path, class: "btn btn-default btn-xs" %></li>
        <li><%= link_to "Sign up", signup_path, class: "btn btn-primary btn-xs" %></li>
      </ul>
    <% end %>  
  </body>
</html>