<tr class="task list-group-item" id="<%= dom_id(task) %>" data-project-id="<%=task.project_id%>" ><!--id= task_id_-->
  <td>
    <input type="checkbox" data-id="<%=task.id%>" data-project-id="<%=task.project_id%> name="option1" value="a1">
  </td>
  <td>
    <div class="form_task_name" id="form_task_name_<%=task.id%>">
      <div class="task_name" id="task_name_<%=task.id%>"><%= task.name %></div>            
    </div>  
    <div class="task_input" id="task_input_<%=task.id%>">
      <input class="task_edit" id="task_edit_<%=task.id%>" value="<%= task.name %>"></input>
      <div class="update_task btn btn-success btn-xs" data-id="<%=task.id%>" data-projectid="<%=task.project_id%>">UPDATE</div>               
    </div>
  </td>
  <td>
    <div class="form_delete_task actions" id="form_delete_task_<%=task.id%>">
      <div class="task_priority_drag_and_drop btn btn-default btn-xs" id="task_priority_up_<%=task.id%>" data-id="<%=task.id%>" data-projectid="<%=task.project_id%>">drag and drop</div>        
      <div class="edit_task btn btn-default btn-xs" data-id="<%=task.id%>" data-projectid="<%=task.project_id%>">EDIT</div>
      <div class="delete_task btn btn-default btn-xs" id="delete_task_button_<%=task.id%>" data-id="<%=task.id%>" data-projectid="<%=task.project_id%>">DELETE</div>
    </div>    
  </td>    
</tr>