<tr class="task list-group-item" id="<%= dom_id(task) %>" data-projectid="<%=task.project_id%>" >
  <!-- ----------------------------------------checkbox task_status_------------------------------------------- -->
  <td>
    <input type="checkbox" class="status" id="task_status_<%=task.id%>" data-id="<%=task.id%>" 
           data-projectid="<%=task.project_id%>" <% if task.status%><%="checked"%><%end%>>
  </td>
  <td>
    <div class="form_task_name" id="form_task_name_<%=task.id%>">
      <div class="task_name" id="task_name_<%=task.id%>"><%= task.name %></div>            
    </div>
    <!-- ----------------------------------------task_input------------------------------------------- -->  
    <div class="task_input has-error" id="task_input_<%=task.id%>">
      <label class="control-label task-edit-control-label" for="inputError" id="task-edit-control-label-id-<%=task.id%>" data-id="<%=task.id%>"></label>
      <input class="task_edit" id="task_edit_<%=task.id%>" value="<%= task.name %>"></input>
      <div class="update_task btn btn-success btn-xs glyphicon glyphicon-pencil" data-id="<%=task.id%>" data-projectid="<%=task.project_id%>"></div><!-- UPDATE -->
    </div>
  </td>
  <!-- ----------------------------------------btn------------------------------------------- -->  
  <td>
    <div class="form_delete_task actions" id="form_delete_task_<%=task.id%>">
      <div class="glyphicon glyphicon-resize-vertical task_priority_drag_and_drop btn btn-default btn-xs" id="task_priority_up_<%=task.id%>" data-id="<%=task.id%>" 
           data-projectid="<%=task.project_id%>"></div><!--drag and drop-->

      <div class="edit_task btn btn-default btn-xs glyphicon glyphicon-pencil" data-id="<%=task.id%>" data-projectid="<%=task.project_id%>"></div><!-- EDIT -->
      <div class="delete_task btn btn-default btn-xs glyphicon glyphicon-trash" id="delete_task_button_<%=task.id%>" data-id="<%=task.id%>" 
           data-projectid="<%=task.project_id%>"></div><!--DELETE-->
    </div>    
  </td>
  <!-- ----------------------------------------deadline-- project.tasks.each do |task| ----------- -->
  <td>
  <div class="task-deadline" id="task-dedline-id-<%=task.id%>" data-id="<%=task.id%>">
    </div> 
    <div class="task-deadline-input has-error"
     id="task-deadline-input-id-<%=task.id%>" data-id="<%=task.id%>">
      <div class="deadline-task actions btn btn-default btn-xs" data-id="<%=task.id%>">deadline</div>
      <div class="update-deadline-task btn btn-success btn-xs glyphicon glyphicon-pencil" data-id="<%=task.id%>" data-projectid="<%=task.project_id%>"></div><!-- UPDATE_DEADLINE -->
      <input class="task-deadline-edit" id="task-deadline-edit-id-<%=task.id%>" value="<%= task.deadline %>"></input>
      <div class="task-deadline-update btn btn-success btn-xs"
           id="task-deadline-update-id-<%=task.id%>" data-id="<%=task.id%>" data-projectid="<%=task.project_id%>">newDL</div>
      <% if task.deadline %>
      <label class="control-label task-deadline-label" for="inputError"
             id="task-deadline-expired-id-<%=task.id%>" data-id="<%=task.id%>">
             <%= task.deadline_status %>
      </label>
      <% end %>
    </div>

  </td>  
</tr>