<% provide(:title, @task.name) %>
  <h1>        
    <strong>Task name:</strong><%= @task.name %>
  </h1>
  <p>
    <strong>Project id:</strong>
      <%= @project.id %>
        <strong>Project name:</strong>
      <%= @project.name %>  
    <strong>Task id:</strong>
      <%= @task.id %>
    <strong>Tasks:</strong>    
      <%= @tasks = Task.all %>  
  </p>
  <strong>11111111111111Tasks:</strong>    
  <%= $NOT_CONST %> 
