<ul class="project_form" id="project-<%= project.id %>">  
  <form class="project form-inline">
    <span class="form_delete_project" id="form_delete_project_<%=project.id%>">
      <div class="delete_project btn btn-default btn-sm actions" id="delete_button_<%=project.id%>" data-id="<%=project.id%>">DELETE</div>
    </span>
    <span class="project_input" id="project_input_<%=project.id%>">
      <input class="project_edit input-sm" id="project_edit_<%=project.id%>" value="<%= project.name %>"></input>
      <div class="update_project btn btn-success btn-sm" data-id="<%=project.id%>">UPDATE</div>               
    </span>
    <span class="form_project_name" id="form_project_name_<%=project.id%>">
      <div class="project_name input-sm" id="project_name_<%=project.id%>"><%= project.name %></div>        
      <div class="edit_project btn btn-default btn-sm actions" data-id="<%=project.id%>">EDIT</div>
    </span>    
  </form>
  
  <form role="form" class="new_task_form form-inline" id="project-<%= project.id %>">

    <div class="form-group has-error">
      <lable class="control-label task-control-label" for="inputError" 
             id="project-id-new-task-error-<%= project.id %>" data-id="<%=project.id%>"></lable>
      <input class="new_task_field input-sm" id="project_task_<%=project.id%>" 
             placeholder="Start typing here to create a task..."></input>
      <!--class="form-control-->
    </div>
    <div type="submit" class="new_task btn btn-success btn-sm" data-id="<%=project.id%>">Add Task</div>
    
  </form>
  <%= render 'shared/taskslist', project: project %>
</ul>