<% provide(:title, @user.name) %>
<p id="notice"><%= notice %></p>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <strong>Project name:</strong>  <%= @project.name %>
    </section>  
  </aside>
</div>  
<p>
  <strong>User:</strong>
  <%= @project.user_id %>
  <strong>Project id:</strong>
  <%= @project.id %>
</p>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'New User', new_user_path %> |
<%= link_to 'Back to users Listing', users_path %>